.custom-img {
    max-height: 220px;
    width: auto;
    padding: 10px;
    box-sizing: border-box;
}

.clamp-text {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    -webkit-line-clamp: 2;
    line-height: 1.5;
    max-height: 4.5em;
    min-height: 4.5em;
}

.larger-text {
    font-size: 20px;
}

.custom-card {
    width: calc(100% + 15px);
}
